# environments and secrets
.environments
.env

# version of the used tools
.tool-versions
poetry.lock

# linters / code analysers
.mypy_cache
.coverage

# python
**/__pycache__
**/.pytest_cache

# IDEs
.vscode
.idea

# Venv
**/venv
**/.venv